{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block body %}
<div class="container-fluid px-0 ">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="\static\3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="\static\4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="\static\11.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>


    <div class="container-fluid my-3 ">
        <h1 class="text-center">Select From Our Range Of Menus</h1>
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="\static\16.jpg" class="d-block w-100" alt="..." style="height: 342.66px;">
                        <style></style>
                        <div class="card-body">
                            <p class="card-text">
                                For You Gym Weight</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">3 Months ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="\static\24.jpg" class="d-block w-100" alt="..." style="height: 342.66px;">
                        <div class="card-body">
                            <p class="card-text">We got Body Dumbel</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 Weeks ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="\static\50.jpg" class="d-block w-100" alt="..." style="height: 342.66px;">
                        <div class="card-body">
                            <p class="card-text">We Have Treadmil</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">4 Days ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="\static\53.jpg" class="d-block w-100" alt="..." style="height: 342.66px;">
                        <div class="card-body">
                            <p class="card-text">We got Gym Complete equipment</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">7 Mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="\static\55.jpg" class="d-block w-100" alt="..." style="height: 342.66px;">
                        <div class="card-body">
                            <p class="card-text">Rowing Machine For Trainee</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">9 Month ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="\static\54.jpg" class="d-block w-100" alt="..." style="height: 342.66px;">
                        <div class="card-body">
                            <p class="card-text">Weight lose ball</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">1 Year ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock body %}